<main class="bg-black w-[300px] md:w-[400px] lg:w-[450px] h-[65vh] md:h-[75vh] lg:h-[80vh] rounded-2xl shadow-xl">
  <section class="w-[100%] h-[64vh] md:h-[74vh] lg:h-[79vh] bg-white rounded-2xl mx-[-10px] border border-black p-[15px] overflow-y-scroll">

    <section>
      <img src="../assets/images/illustration-article.svg" alt="Image" class="rounded-2xl mx-auto w-full">
    </section>
    <section class="flex">
      <h3 class="bg-Yellow flex my-[20px] p-[5px] rounded-md font-figtree font-medium px-[10px]">learning</h3>
    </section>
    <section>
      <h3 class="font-figtree">Published 21 Dec 2023</h3>
    </section>

    <section class="my-[10px]">
      <h1 class="font-figtree font-medium text-xl">HTML & CSS foundations</h1>
      <section class="font-thin font-figtree my-[10px] md:my-[20px] flex flex-wrap">
        these languages are the backbone of every website, defining structure,content, and presentation.
      </section>
    </section>
    <section class="flex items-center">
      <img src="../assets/images/image-avatar.webp" alt="Avatar" class="h-[5vh] my-[10px]">
      <h3 class="font-medium font-figtree mx-[10px]">Greg Hooper</h3>
    </section>

  </section>
  <footer class="flex justify-center items-center text-center mt-[40px]">
    <h3>Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
      Coded by <a href="https://www.frontendmentor.io/profile/aponchikaj">Lazare Mirziashvili</a>.</h3>
  </footer>
</main>

